@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
:root{
    --dark: #bdf4f1;
    --black: #000000;
    --light: #e8f3f4;
    --primary: #eb8c6f;
}
body{
    overflow:overlay;
    padding: 0;
    margin: 0;
    background-color: var(--dark);
}



* {
    font-family: Montserrat;
    font-weight: 400;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    box-sizing: border-box;
}
.medium{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}